*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(41, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
}

#popupSeConnecter{
    background-color: rgb(254, 254, 255);
    width: 400px;
    height: 500px;
    margin: auto;
    margin-top: 200px;
    align-content: center;
    border-radius: 15px;
    display: none;
}

.lesInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 150px;
    width: 300px;
}

.connexionUsername{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.connexionMDP{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.inputConnexionUsername{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    font-size: 22px;
    align-items: center;
    margin-bottom: 50px;
}

.inputConnexionMDP{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    font-size: 22px;
    margin-bottom: 60px;
}

.titreConnexionInput{
    font-size: 25px;
    margin-bottom: 10px;
}

.titreConnexion{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin: auto;
    width: 180px;
    padding-top: 30px;
    padding-bottom: 60px;
    position: absolute;
    padding-left: 110px;
}

.boutonConnexion{
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 0;
    background-color: rgb(0, 0, 0);
    height: 54px;
    width: 204px;
    font-size: 20px;
    margin-left: 47px;
    position: absolute;

}

#boutonFermer{
    position: absolute;
    margin-left: 353px;
    margin-top: 7px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 20px;
    
}

#boutonFermer2{
    position: absolute;
    margin-left: 553px;
    margin-top: 7px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 20px;
    
}




/*/**/


#popupSinscrire{
    background-color: rgb(254, 254, 255);
    width: 600px;
    height: 800px;
    margin: auto;
    margin-top: 100px;
    align-content: center;
    border-radius: 15px;
    display: none;
}
.lesInputsInscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 20px;
}

.inscriptionUsername, .inscriptionMDP, .inscriptionMail, .inscriptionNom, .inscriptionPrenom, .inscriptionDate{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.inscriptionTitre{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: auto;
    width: 200px;
    margin-bottom: 5px;
    margin-top: 10px;


}


.titreInscription{
    font-size: 40px;
    padding-top: 30px;
}
.inscriptionSexe{
    display: flex;
    flex-direction: column;
}


.inscriptionTitreSexe{
    margin-top: 10px;
    font-size: 25px;
    text-align: center;
}

.inscriptionTitreDate{
    
    font-size: 25px;
    text-align: center;
}
select{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#birthdate{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.inputInscriptionUsername{
    width: 300px;
    height: 40px;
    border-radius: 15px;
    font-size: 22px;
}

.inputInscriptionMDP{
    width: 300px;
    height: 40px;
    margin-top: 50px;
    border-radius: 15px;
    font-size: 22px;
}


.inputInscriptionEmail{
    width: 300px;
    height: 40px;
    margin-top: 50px;
    border-radius: 15px;
    font-size: 22px;
}


.boutonInscription{
    color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 0;
    background-color: rgb(0, 0, 0);
    height: 54px;
    width: 204px;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 48px;
    position: absolute;
    
}


#discussionBtn{
    border: none;
    background-color: #88888800;
    font-size: 17px;
    cursor: pointer;
}

#categorieBtn{
    border: none;
    background-color: #88888800;
    font-size: 17px;
    cursor: pointer;
}

#postBtn{
    border: none;
    background-color: #88888800;
    font-size: 17px;
    cursor: pointer;
}

#trap {
    color: white;
}
#hub {
    color: rgb(0, 0, 0);
    background-color: orange;
    border-radius: 10px;
}

a {
    color: inherit; /* Utilise la couleur du texte parent */
    text-decoration: none; /* Supprime le soulignement */
}