*{
    margin: 0%;
    padding: 0;
}

.navbar{
    justify-content: space-between;
    display: flex;
    height: 70px;
    
}

.navDroite{
    display: flex;
    margin: 45px;
    width: 200px;
    justify-content: space-between;
    font-size: 18px;
}



.logoNavBar{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    background-color: rgb(255, 177, 125);
    height: 40px;
    font-size: 30px;
}

.logoNavBar:hover{
    background-color: rgb(41, 41, 41);
    color: rgb(255, 177, 125);
    transition: 0.3s;
}

.logoNavBar:not(:hover) {
    transition: 0.3s;
}

.rechercher{
    width: 300px;
    height: 30px;
    border-radius: 0%;
    border: 1px solid black;
}

.rechercher:focus{
    transition: 0.4s ease-in-out;
    width: 400px;
}

.rechercher:not(:focus){
    transition: 0.4s ease-in-out;
    width: 300px;
}

.partieBasse{
    padding-top: 200px;
    margin: auto;
    width: calc(100%/1.5);
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(201, 199, 199);
}

.catégorie{
    display: flex;
    justify-content: space-between;
    width: 350px;
}

.boutonLogin{
    width: 100px;
    height: 32px;
    border-radius: 0%;
    border: 1px solid black;
    margin-left: 25px;
}