{{define "footer"}}

<footer>
    <div class="footer">
        <div class="row">
            <h1>TrapHub</h1>
        </div>

        <div class="row">
            <ul>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Our Services</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Career</a></li>
            </ul>
        </div>
    </div>
</footer>




{{end}}